/* General App Styles */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

nav button {
  transition: transform 0.2s ease-in-out;
}

nav button:hover {
  transform: translateY(-3px);
}
